.project-list {
    list-style-type: square;
}
.awards {
    display: inline-block;
}
a:link, a:visited {
    color: blue;
}
.vim-turd {
    color: #654321;
}
.linkedout {
    height: 50px;
    width: 100px;
}
